@media (max-width: 1000px) {
   
    .guarantees {
        .shopOptions {
            justify-content: space-between;
        }
        .guarenteeContainer {
            width: calc(45% - 40px);
            margin: 0 20px 40px 20px;
        }    
}

@media (max-width: 800px) {
   
}

@media (max-width: 500px) {
  
   .guarantees {
        .shopOptions {
            flex-direction: column;
            align-items: center;
        }
        .guaranteeContainer {
            width: 85%;
            margin: 0 0 50px 0;
            }
        }
    }
}