main {
    section {
        margin-bottom: 90px;
    }
}

.titleBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.productImgContainer {
    width: 30%;
    text-align: center;
    img {
        border-radius: 5%;
        margin:24px;
        width: calc(100% - 48px);
    }
}

.play {
    background-image: url(../assets/background-image.jpg) ;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    .playContainer {
        max-width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 45px;
        border: 24px solid $secondary;
        background-color: $solidWhite;
    }
}

.categoryGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    .items {
        padding: 45px;
        margin: 50px 25px 25px;
        border-radius: 10%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 100%;
            border-radius: 10%;
            margin-bottom: 20px;
        }
          transition: 0.2s ease;
        &:hover{
            transform: scale(0.95);
        }
        &:focus{
            transform: scale(0.95); }
    }
    
    .orange{
        background-color: $quinary;
    }
    .blue{
        background-color: $secondary;
    }
    .green{
        background-color: $tertiary;
    }
    .pink{
        background-color: $quaternary
    }
}
    
.gallery {
    background-color: $tertiary;
    padding: 90px 0;
    margin: 0;
    h2 {
        max-width: 500px;
    }
}
.galleryItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item{
        width: 15%;
        img{
            width: 100%;
            display: block;
        }
    }
}

// shop page sections//

.shop {
    section {
        padding:90px 0;
        margin: 0;
    }
}
.inventory {
    h2 {
        text-align: center;
    }
    .product {
        justify-content: flex-start;
        a {
            display: block;
            &:hover {
                transform: rotateZ(2deg) translate(5px);
            }
            &:focus {
                transform: rotateZ(2deg) translate(5px);
            }
        }
    }
}
.guarantees {
    background-color: $quaternary;
    position: relative;
    text-align: center;
    &::before {
        content: '';
        background-image: url(../assets/wave-3.svg);
        background-color: $quaternary;
        background-position: top center;
        position: absolute;
        background-size: 100% 60px;
        background-repeat: repeat-x;
        position: absolute;
        left: 0;
        right: 0;
        top: -60px;
        height: 3rem;
    }
}

.shopOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.guaranteeContainer {
    width: calc(25% - 40px);
    margin: 0 20px;
}